@import '~assets/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
}

body {
	background: #fff;
}

.bold {
	font-weight: 700;
}

@import 'buttons';

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.dashed-title {
	position: relative;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: $dark-grey;

	&::after, &::before {
		content: '';
	    position: absolute;
        max-width: 100px;
		width: 10%;
	    height: 1px;
	    background: $dark-grey;
	    top: 0;
	    bottom: 0;
	    margin: auto 10px;
	}

	&::before {
		transform: rotate(180deg);
		transform-origin: left;
		margin-left: -10px;
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $dark-grey;
}
