@import '~assets/scss/variables';
@import '~assets/scss/mixins';

.social {
	padding: 65px 0 25px 0;

	&__icons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 30px;
		width: 85px;
		height: 85px;
		font-size: 30px;
		border-radius: 100%;
		border: 1px solid $light-grey;
		text-decoration: none;

		i {
			color: $light-grey;
		}
	}
}

.footer {
	background: $dark-grey;
	padding: 70px 0;

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
    	align-items: center;
	}

	&__logo img {
		width: 100%;
		max-width:180px;
	}

	&__cards {
		width: 100%;
		max-width: 250px;

		img {
			width: 100%;
		}
	}
}

.footer-links {
	display: flex;
	flex-direction: column;
	margin-right: 20px;

	&__header {
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__link {
		margin-top: 10px;
		color: $light-grey;
		text-decoration: none;
	}
}

@include break(1200) {
	.footer {
		padding: 70px 20px;
	}
}

@include break(900) {
	.footer {
		&__content {
			justify-content: center;
		}

		&__cards, &__logo {
			width: 100%;
			text-align: center;
		}

		&__cards {
			margin-top: 40px;
		}

		&__logo {
			order: -1;
			margin-bottom: 40px;
		}
	}

	.footer-links {
		width: 140px; // To keep them aligned on smaller devices
		margin: 40px;
	}
}
