<div class="social">
	<div class="social__title dashed-title">Get Us On</div>

	<div class="social__icons">
		<a href="#" class="social__icon"><i class="fa fa-twitter"></i></a>
		<a href="#" class="social__icon"><i class="fa fa-pinterest-p"></i></a>
		<a href="#" class="social__icon"><i class="fa fa-facebook-f"></i></a>
		<a href="#" class="social__icon"><i class="fa fa-google-plus"></i></a>
		<a href="#" class="social__icon"><i class="fa fa-youtube-play"></i></a>
		<a href="#" class="social__icon"><i class="fa fa-tumblr"></i></a>
	</div>
</div>

<footer class="footer">
	<div class="footer__content container">
		<div class="footer-links">
			<h3 class="footer-links__header">Questions?</h3>

			<a class="footer-links__link" href="#">Help</a>
			<a class="footer-links__link" href="#">Track Order</a>
			<a class="footer-links__link" href="#">Returns</a>
		</div>

		<div class="footer-links">
			<h3 class="footer-links__header">Where to buy</h3>

			<a class="footer-links__link" href="#">Store Locator</a>
			<a class="footer-links__link" href="#">Whishlist</a>
			<a class="footer-links__link" href="#">Gift Cards</a>
		</div>

		<div class="footer-links">
			<h3 class="footer-links__header">About us</h3>

			<a class="footer-links__link" href="#">Our Story</a>
			<a class="footer-links__link" href="#">Careers</a>
			<a class="footer-links__link" href="#">Affiliates</a>
		</div>

		<div class="footer__cards">
			<img src="/assets/gfx/cards.png">
		</div>

		<div class="footer__logo">
			<img src="/assets/gfx/logo.png">
		</div>
	</div>
</footer>
