.contact-form {
	max-width: 600px;
	width: 100%;
	margin: 100px auto;

	&__input {
		width: 100%;
		font-size: 18px;
		margin-bottom: 20px;

		&--invalid .contact-form__error {
			margin: 10px 0;
			display: block;
			color: red;
			font-weight: 300;
		}

		input, textarea {
			width: 100%;
			margin-top: 10px;
			padding: 15px 10px;
			outline: none;
			border: 1px solid #bbb;
		}

		&--invalid input, &--invalid textarea {
			border: 1px solid red;
		}
	}

	&__error {
		display: none;
	}
}
