@import '~assets/scss/variables';
@import '~assets/scss/mixins';

.promo img {
	width: 100%;
}

.product {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 105px;
}

.image-carousel {
	display: flex;
	width: 100%;

	&__thumbnails {
		display: flex;
		flex-direction: column;
		width: 70px;
	}

	&__thumbnail {
		width: 100%;
		margin-bottom: 15px;
		cursor: pointer;
	}

	&__big-image {
		position: relative;
		width: 100%;
		max-width: 470px;
		margin-left: 30px;
	}

	&__like {
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 2;
		cursor: pointer;
	}
}

.product-info {
	max-width: 470px;
	width: 100%;
	margin-left: 40px;

	&__title {
		font-weight: 300;
		font-size: 42px;
	}

	&__details {
		display: flex;
		align-items: center;
		margin: 20px 0;
	}

	&__price {
		font-weight: 600;
		font-size: 24px;
	}

	&__shipping {
		margin-left: 15px;
		color: $light-grey;
		font-size: 12px;

		i {
			color: $light-grey;
		}
	}

	&__dropdown {
		display: block;
		max-width: 270px;
		width: 100%;
	}

	&__size {
		display: flex;
		margin-top: 10px;

		.button {
			margin-left: 10px;
		}
	}

	&__buy {
		max-width: 270px;
		margin: 15px 0;
	}

	&__save {
		display: flex;

		.save {
			max-width: 270px;
			width: 100%;
			text-transform: uppercase;
		}
	}
}

.tabs {
	margin-top: 60px;

	&__header {
		display: flex;
		border-bottom: 1px solid $light-grey;
	}

	&__tab {
		padding: 15px 40px;
		margin-bottom: -1px;
		cursor: pointer;

		&--active {
			background: #fff;
			border: 1px solid $light-grey;
			border-bottom: none;
		}
	}

	&__content {
		margin-top: 20px;
		color: $light-grey;
		line-height: 28px;
		font-size: 12px;
	}
}

.description {
	max-width: 950px;
	margin: 125px auto;
	padding: 0 20px;
	text-align: center;

	&__title {
		font-size: 60px;
		letter-spacing: 10px;
	}

	&__divider {
		max-width: 80px;
		width: 10%;
		margin: 30px auto;
		height: 5px;
		background: $turqoise;
	}

	&__text {
		color: $light-grey;
		line-height: 35px;
		font-size: 16px;
	}
}

.feature {
	display: flex;
	background: $dark-grey;

	&--even {
		background: $turqoise;
	}

	&__image {
		width: 50%;
		display: flex;
		align-items: center;
		// Image heigt bug fix
		overflow: hidden;

		img {
			width: 100%;
			margin-bottom: -2px;
		}
	}

	&--even &__image {
		order: 1;
	}

	&__body {
		padding: 75px 20px;
		max-width: 550px;
		width: 50%;
		margin: 0 auto;
	}

	&__title {
		color: #fff;
		font-size: 40px;
		font-weight: 300;
	}

	&__description {
		margin-top: 30px;
		color: #fff;
		font-size: 15px;
		line-height: 35px;
	}

	&__icons {
		display: flex;
		color: #fff;
		margin: 40px 0;
		max-width: 400px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__button {
		margin-top: 50px;
		padding: 10px;
		max-width: 310px;
		width: 100%;
		font-size: 14px;
	}
}

@include break(1200) {
	.product {
		padding: 0 20px;
	}

	.feature__image {
		padding: 0 20px;
	}
}

@include break(1000) {
	.product {
		flex-direction: column;
		align-items: center;
	}

	.image-carousel {
		justify-content: center;
	}

	.product-info {
		order: -1;
		max-width: 570px;
		margin-bottom: 40px;
		margin-left: 0;
	}
}

@include break(900) {
	.feature {
		&__image {
			display: none;
		}

		&__body {
			width: 100%;
		}
	}
}

@include break(500) {
	.tabs__tab {
		padding: 10px 20px;
    	font-size: 12px;
	}

	.description__title {
		font-size: 40px;
	}
}
