<div class="slider">
	<div class="slider__arrow" (click)="previousSlide()"></div>

	<div class="slider_slides">
		<div *ngFor="let slide of slides; let key = index" class="slide" [hidden]="key !== active">
			<img class="slide__image" [src]="slide.image">
			<a class="slide__button outline-button">{{ slide.actionText }}</a>
		</div>
	</div>

	<div class="slider__indicator indicator">
		<div *ngFor="let slide of slides; let key = index" (click)="changeSlide(key)" class="indicator__pin" [ngClass]="{'indicator__pin--active': key === active}"></div>
	</div>

	<div class="timer">
		<div class="timer__indicator" [ngStyle]="{'width': amount + '%'}"></div>
	</div>

	<div class="slider__arrow slider__arrow--right" (click)="nextSlide()"></div>
</div>
