@import '~assets/scss/variables';

.newsletter-section {
	padding: 100px;
	display: flex;
	justify-content: center;

	&__box {
		height: 390px;
	}
}

.lookbook-box {
	width: 350px;
	opacity: .8;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: 100% 100%;
    transition: background-size .3s, opacity .3s;
    background-position: center;

	&:hover {
		opacity: 1;
		background-size: 125% 125%;
	}

	&--men {
		background-image: url('/assets/gfx/lookbook-men.png')
	}

	&--women {
		background-image: url('/assets/gfx/lookbook-women.png')
	}

	&__button {
		border: 2px solid #fff;
		color: #fff;
		padding: 25px 25px;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 30px;
	}
}

@media (max-width: 1300px) {
	.newsletter-section {
		flex-wrap: wrap;

		&__box:nth-child(2) {
			margin-top: 30px;
		}
	}

	.lookbook-box {
		width: 45%;

		&--women {
			order: -1;
			margin-right: 10%;
		}
	}
}

@media (max-width: 900px) {
	.newsletter-section {
		padding: 50px 20px;

		&__box {
			width: 100%;
			margin-top: 30px;
		}
	}

	.lookbook-box--women {
		margin-right: 0;
	}
}
