<div class="slider">
	<div class="slider__arrow"></div>

	<div class="slider_slides">
		<div class="slide">
			<img class="slide__image" src="/assets/gfx/slider-image.png">
			<a class="slide__button outline-button">Learn more about great deals</a>
		</div>
	</div>

	<div class="slider__indicator indicator">
		<div (click)="indicatorClicked($event)" class="indicator__pin"></div>
		<div (click)="indicatorClicked($event)" class="indicator__pin indicator__pin--active"></div>
		<div (click)="indicatorClicked($event)" class="indicator__pin"></div>
		<div (click)="indicatorClicked($event)" class="indicator__pin"></div>
	</div>

	<div class="slider__arrow slider__arrow--right"></div>
</div>
