<slider [slides]="slides"></slider>

<section class="newsletter-section">
	<div class="newsletter-section__box lookbook-box lookbook-box--men">
		<a class="lookbook-box__button">
			<span class="bold">Men's</span>
			<span>Lookbook</span>
		</a>
	</div>

	<newsletter-signup class="newsletter-section__box"></newsletter-signup>

	<div class="newsletter-section__box lookbook-box lookbook-box--women">
		<a class="lookbook-box__button">
			<span class="bold">Women's</span>
			<span>Lookbook</span>
		</a>
	</div>
</section>
