<slider [slides]="slides"></slider>

<section class="newsletter-section container">
	<div class="newsletter-section__box lookbook-box lookbook-box--men">
		<a class="lookbook-box__button">
			<span class="bold">Men's</span>
			<span>Lookbook</span>
		</a>
	</div>

	<newsletter-signup class="newsletter-section__box"></newsletter-signup>

	<div class="newsletter-section__box lookbook-box lookbook-box--women">
		<a class="lookbook-box__button">
			<span class="bold">Women's</span>
			<span>Lookbook</span>
		</a>
	</div>
</section>

<div class="brands">
	<div class="container">
		<div class="brands__title dashed-title">Top Brands</div>

		<div class="brands__list">
			<img src="/assets/gfx/brands/pullandbear.png" alt="Brand image">
			<img src="/assets/gfx/brands/michaelkors.png" alt="Brand image">
			<img src="/assets/gfx/brands/mango.png" alt="Brand image">
			<img src="/assets/gfx/brands/missguided.png" alt="Brand image">
			<img src="/assets/gfx/brands/monki.png" alt="Brand image">
		</div>
	</div>
</div>

<div class="container mobile-space">
	<div class="promotions">
		<a class="promotions__image promotions__image--big" href="#">
			<img src="/assets/gfx/musthaveforher.png">
		</a>
		<a class="promotions__image " href="#">
			<img src="/assets/gfx/upto75off.png">
		</a>
		<a class="promotions__image promotions__image--small" href="#">
			<img src="/assets/gfx/newsummerstyle.png">
		</a>
	</div>

	<nav class="product-nav">
		<div *ngFor="let tab of productTabs; let key = index"
			 class="product-nav__item"
			 [ngClass]="{'product-nav__item--active': productTab == key}"
			 (click)="setProductTab(key)">
			{{ tab.title }}
		 </div>
	</nav>

	<product-grid [products]="products"></product-grid>
</div>

<a class="big-promo">
	<img src="/assets/gfx/summerpromo.png">
</a>

<div class="testimonials">
	<img class="testimonials__avatar" src="/assets/gfx/testimonial.png">
	<h3 class="testimonials__name">Jane Smith</h3>
	<p class="testimonials__text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
</div>
