@import '~assets/scss/mixins';

.product-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
}

@include break(1000) {
	.product-grid {
		grid-template-columns: 1fr 1fr;
	}
}
