<header class="site-header" [ngClass]="transparent ? 'site-header--transparent' : ''">
	<div class="site-header__logo">
		<a routerLink="/">
			<img src="/assets/gfx/logo.png" alt="">
		</a>
	</div>

	<nav class="site-header__nav">
		<a class="nav-link" href="#">
			<i class="fa fa-user-o nav-link__icon"></i>
			<span class="nav-link__text">Login</span>
		</a>
		<a class="nav-link" (click)="openShoppingBag($event)">
			<i class="fa fa-shopping-bag nav-link__icon"></i>
			<span class="nav-link__text">{{ shoppingBagService.items.length }} items</span>
		</a>
		<a class="nav-link" href="#">
			<i class="fa fa-search nav-link__icon"></i>
		</a>
		<a class="nav-link" href="#">
			<i class="fa fa-bars nav-link__icon"></i>
		</a>
	</nav>
</header>
