<header class="site-header">
	<div class="site-header__logo">
		<a href="#">
			<img src="/assets/gfx/logo.png" alt="">
		</a>
	</div>

	<nav class="site-header__nav">
		<a class="nav-link" href="#">
			<img class="nav-link__icon" src="/assets/gfx/icons/login.png" alt="Login">
			<span class="nav-link__text">Login</span>
		</a>
		<a class="nav-link" href="#">
			<img class="nav-link__icon" src="/assets/gfx/icons/shoppingbag.png" alt="Shopping bag">
			<span class="nav-link__text">3 items</span>
		</a>
		<a class="nav-link" href="#">
			<img class="nav-link__icon" src="/assets/gfx/icons/search.png" alt="Search">
		</a>
		<a class="nav-link" href="#">
			<img class="nav-link__icon" src="/assets/gfx/icons/menu.png" alt="menu">
		</a>
	</nav>
</header>
