@import '~assets/scss/variables';

.select-filter {
	position: relative;
	min-width: 50px;

	&--classic {
		width: 100%;
	    border: 4px solid $light-grey;
	}

	&__title {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 15px;
		cursor: pointer;

		.arrow-down {
			margin-left: 5px;
		}
	}

	&--classic &__title {
		justify-content: space-between;
		padding: 10px;

		.arrow-down {
			border-top-color: $light-grey;
		}
	}

	&__options {
		position: absolute;
		left: 0;
		display: none;
		flex-direction: column;
		width: 100%;
		background: #fff;
		z-index: 2;
	}

	&--classic &__options {
		margin-top: 4px;
	}

	&__option {
		padding: 5px;
		border-bottom: 1px solid $dark-grey;
		cursor: pointer;
		text-transform: capitalize;

		&:last-child {
			border-bottom: none;
		}
	}

	&--active &__options {
		display: flex;
	}
}
