.banner {
	position: relative;
	text-align: center;

	&__image {
		width: 100%;
	}

	&__button {
		position: absolute;
		bottom: 20%;
		margin: 0 auto;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
		}
	}
}

@media (max-width: 900px) {
	.banner__button {
		bottom: 10%;

		a {
			font-size: 12px;
			padding: 15px;
		}
	}
}
